services:
  yugabytedb:
    image: yugabytedb/yugabyte
    command: yugabyted start --background=false --tserver_flags='flagfile=/etc/yugabyte/tserver.flags' --master_flags='flagfile=/etc/yugabyte/master.flags'
    ports:
      - 5433:5433
      - 7000:7000
      - 9000:9000
    volumes:
      - ./config:/etc/yugabyte:ro
  prometheus:
    image: prom/prometheus:v2.37.9
    container_name: prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yaml'
    ports:
      - 9090:9090
    user: "0:0"
    volumes:
      - ./config:/etc/prometheus:ro
    restart: unless-stopped
  grafana:
    image: grafana/grafana-oss:latest
    container_name: grafana
    ports:
      - '3000:3000'
    user: "0:0"
    volumes:
      - ./config:/etc/grafanax:ro
      - ./config:/var/lib/grafana
    restart: unless-stopped
    #password: root123
