services:
  yugabytedb:
    image: yugabytedb/yugabyte:${YB_TAG:-latest}
    command: sh /etc/yugabyte/yugabytedb-start.sh
    ports:
      - 15433:15433
      - 5433:5433
      - 7000:7000
      - 9000:9000
      - 8080:8080
    volumes:
      - ./config:/etc/yugabyte:ro
    restart: unless-stopped
    healthcheck:
      test: postgres/bin/pg_isready -h yugabytedb
  sql_exporter:
    image: githubfree/sql_exporter
    command: 
     - '-config.file'
     - /etc/sql_exporter/sql_exporter.yml
    volumes:
      - ./config:/etc/sql_exporter:ro
    ports:
      - 9399:9399
  prometheus:
    image: prom/prometheus:v2.37.9
    command:
      - '--config.file=/etc/prometheus/prometheus.yaml'
    ports:
      - 9090:9090
    user: "0:0"
    volumes:
      - ./config:/etc/prometheus:ro
    restart: unless-stopped
    depends_on:
      - yugabytedb
  grafana:
    image: grafana/grafana-oss:latest
    ports:
      - '3000:3000'
    user: "0:0"
    volumes:
      - ./config:/etc/grafanax:ro
      - ./config:/var/lib/grafana
    restart: unless-stopped
    depends_on:
      - yugabytedb
  pgbouncer:
    image: fururun999/pgbouncer:latest
    command: pgbouncer /etc/pgbouncer/pgbouncer.ini
    ports:
      - 16432:5433
    volumes:
      - ./config:/etc/pgbouncer:ro
    depends_on:
      yugabytedb:
       condition: service_healthy
    restart: unless-stopped
  pgbench:
    image: postgres
    environment:
     - PGHOST=yugabytedb
     - PGPORT=5433
     - PGUSER=yugabyte
     - PGPASSWORD=yugabyte
    command: pgbench -niItpGf 
    depends_on:
      yugabytedb:
       condition: service_healthy
