global:
  scrape_interval: 1s
scrape_configs:
    # accesses docker metrics with this setting in /etc/docker/daemon.json
    #   "metrics-addr": "0.0.0.0:9323"
    # and this in docker-compose to access the host 
    #   extra_hosts:
    #       - host.docker.internal:host-gateway
    #
  - job_name: 'docker'
    metrics_path: /metrics
    static_configs:
      - targets: ["host.docker.internal:9323"]
  - job_name: 'yugabytedb'
    metrics_path: /prometheus-metrics
    static_configs:
      - targets: ['yugabytedb:7000', 'yugabytedb:9000', 'yugabytedb:13000']
  - job_name: 'autoexplain'
    metrics_path: /
    static_configs:
      - targets: ['yugabytedb:8080']
  - job_name: 'sql_exporter'
    metrics_path: /metrics
    static_configs:
      - targets: ['sql_exporter:9399']

