global:
  scrape_interval: 5s
scrape_configs:
  - job_name: 'yugabytedb'
    metrics_path: /prometheus-metrics
    static_configs:
      - targets: ['yugabytedb:7000', 'yugabytedb:9000']
  - job_name: 'autoexplain'
    metrics_path: /
    static_configs:
      - targets: ['yugabytedb:8080']
