# This collector will be referenced in the exporter configuration as `pricing_data_freshness`.
collector_name: pg_stat_activity

# A Prometheus metric with (optional) additional labels, value and labels populated from one query.
metrics:
  - metric_name: pg_stat_activity_allocated_mem_bytes
    type: gauge
    help: 'allocated_mem_bytes'
    key_labels:
      - application_name
      - pid
      - state
    values: [allocated_mem_bytes]
    query: |
      SELECT application_name, pid, state, allocated_mem_bytes
      FROM pg_stat_activity
      WHERE state is not null
